body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 0 20px 0 rgba(0, 1, 1, 0.2);
}

.wrapper-hotels {
  background-color: #fefefe;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.main-header-bg {
  min-height: 564px;
  background-color: #94bfd9;
  background-image: url("../img/polygon.svg"),
                    url("../img/bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 506px, top;
}

.list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}

.main-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  z-index: 10;
}

.main-header-logo {
  position: absolute;
  left: 530px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 1055px;
  margin: 0 auto;
}

.site-nav li {
  width: 130px;
  padding-top: 15px;
  padding-bottom: 17px;
}

.site-nav li:nth-child(2) {
  margin-right: 200px;
}

.site-nav li:nth-child(n+2) {
  text-align: right;
}

.site-nav li:nth-child(-n+2) {
  text-align: left;
}

.site-nav a {
  color: #000000;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #81b3d2;
}

.site-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-nav-current a,
.site-nav-current a:hover,
.site-nav-current a:active {
  color: #766357;
}

.wrapper-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
}

.promo {
  width: 575px;
  padding-top: 60px;
  padding-bottom: 50px;
  margin: auto;
  text-align: center;
}

.promo h2 {
  margin: 0;
  margin-bottom: 29px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.promo p {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.specific-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.specific-sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.specific-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.specific-item {
  text-align: center;
}

.specific-item h3 {
  margin: 0;
  margin-bottom: 26px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.specific-item-column {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 46px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #eeeeee;
}

.specific-item-column:nth-child(even) {
  padding-left: 60px;
  padding-right: 60px;
}

.specific-sub-list h3 {
  margin: 0;
  margin-bottom: 26px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.specific-sub-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 160px;
  padding-bottom: 83px;
  text-align: center;
  background-color: #ffffff;
}

.specific-sub-item::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.specific-sub-item:nth-child(2)::before {
  background-image: url("../img/icon-3.svg");
}

.specific-sub-item:nth-child(3)::before {
  top: 56px;
  left: 168px;
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
}

.specific-item p {
  margin: 0;
  margin-top: 20px;
}

.specific-img {
  width: 800px;
  height: 256px;
}

.specific-img-order {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.specific-description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding-top: 46px;
  padding-left: 45px;
  padding-right: 50px;
  color: #ffffff;
  background-color: #81b3d2;
}

.specific-description h3 {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

.search-promo {
  width: 570px;
  margin: auto;
  padding-top: 50px;
  padding-left: 312px;
  padding-right: 312px;
  text-align: center;
}

.search-promo .search-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-promo p {
  margin: 0;
  margin-bottom: 45px;
  font-size: 14px;
  line-height: 24px;
}

.search-btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  padding: 30px 138px;
  margin: auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #766357;
}

.search-btn:hover {
  background-color: #604e43;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.map img,
.map {
  width: 1200px;
  height: 595px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
  text-align: center;
  background-color: #fefefe;
}

.main-footer-index {
  position: absolute;
  bottom: 0;
  background-color: rgba(254, 254, 254, 0.9);
}

/* .hotels-footer {
  padding: 42px 0;
} */

.main-footer p {
  width: 400px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-footer p:first-child {
  padding-bottom: 7px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  padding-bottom: 3px;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.social-item:last-child a {
  margin-right: 0;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 400px;
}

.logo-htmlacademy path,
.logo-htmlacademy rect {
  fill: #231f20;
}

.logo-htmlacademy:hover path,
.logo-htmlacademy:hover rect {
  fill: #81b3d2;
}

.logo-htmlacademy:active path,
.logo-htmlacademy:active rect {
  fill: #bdbbbc;
}

.social-btn:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 2px #146da4;
          box-shadow: inset 0 0 0 2px #146da4;
}

.footer-logo b {
  display: inline-block;
  margin-right: 8px;
  padding-bottom: 3px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.modal {
  display: none;
}

@keyframes move {
  0% {
    transform: translateY(-85px);
    opacity: 0;
  }
  10% {
    transform: translateY(-75px);
    opacity: 0.2;
  }
  20% {
    transform: translateY(-65px);
    opacity: 0.3;
  }
  30% {
    transform: translateY(-55px);
    opacity: 0.4;
  }
  40% {
    transform: translateY(-45px);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-35px);
    opacity: 0.6;
  }
  60% {
    transform: translateY(-25px);
    opacity: 0.7;
  }
  70% {
    transform: translateY(-15px);
    opacity: 0.8;
  }
  80% {
    transform: translateY(-5px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-show {
  position: absolute;
  display: block;
  bottom: 202px;
  left: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  padding: 54px;
  margin-left: -285px;
  background-color: #ffffff;
  animation-name: move;
  animation-duration: 0.6s;
}

.form-search {
  width: 460px;
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  color: #000000;
}

.form-search input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.form-search input[type="text"]:hover {
  background-color: #ebebeb;
  outline: none;
}

.form-search input[type="text"]:focus {
  background-color: #ffffff;
  color: #000000;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
          box-shadow: inset 0 0 0 2px #e5e5e5;
}

.form-search input[type="text"]::-moz-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.form-search input[type="text"]::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.form-search input[type="text"]:-ms-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.form-search input[type="text"]::-ms-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.form-search input[type="text"]::placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.icon-calendar {
  -webkit-box-sizing: border-box;
           box-sizing: border-box;
  width: 307px;
  padding-left: 12px;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 7px;
}

.date-input-inner {
  display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
  width: 347px;
}

.calendar-svg {
  width: 38px;
  height: 38px;
  border: none;
  margin: 0;
  background-color: #f2f2f2;
}

.calendar-svg path {
  fill: #cacaca;
}

.calendar-svg:hover path {
  fill: #000000;
}

.calendar-svg:active path {
  fill: #81b3d2;
}

.people {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 51px;
}

.people-count {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38px;
  min-height: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  font: inherit;
  text-align: center;
}

.people-btn {
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
}

.people-btn {
  position: relative;
}

.people-btn svg {
  position: absolute;
  top: 18px;
  left: 12px;
}

.people-btn .plus {
  top: 14px;
}

.people-btn:hover rect {
  fill: #000000;
}

.people-btn:active rect {
  fill: #81b3d2;
}

.people label[for="adult"] {
  margin-right: 43px;
}

.people label[for="child"] {
  margin-right: 26px;
  margin-left: 53px;
}

.form-search-btn {
  width: 100%;
  border: none;
  padding-top: 18px;
  padding-bottom: 17px;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #81b3d2;
}

.form-search-btn:hover {
  background-color: #669ec0;
}

.form-search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* hotels */

.form-filter-section {
  background: #668eb6 url("../img/filter-bg.jpg") no-repeat center -60px;
}

.form-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-top: 26px;
  padding-bottom: 5px;
  width: 1060px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.form-filter fieldset {
  width: 252px;
  padding: 0;
  border: none;
}

.form-filter legend {
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.form-filter input[type="text"] {
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.checkbox-filter {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.checkbox-filter input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.checkbox-filter input[type="checkbox"]:checked + .checkbox-indicator {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.checkbox-filter input[type="checkbox"]:disabled + .checkbox-indicator {
  opacity: 0.5;
}

.checkbox-filter input[type="checkbox"]:focus + .checkbox-indicator,
.checkbox-filter input[type="checkbox"]:checked:focus + .checkbox-indicator {
  -webkit-box-shadow: 0 0 3px 3px #64a8d2;
          box-shadow: 0 0 3px 3px #64a8d2;
}

.form-filter-item {
  margin-bottom: 25px;
}

.form-filter .filter-range {
  width: 318px;
  margin-left: auto;
}

.filter-range legend {
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 60px;
}

.price-controls input {
  width: 50px;
  height: 32px;
  margin: 0;
  color: inherit;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 31px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.toggle {
  position: absolute;
  top: -9px;
  padding: 2px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.min-toggle {
  left: 0;
}

.max-toggle {
  left: 80%;
}

.toggle:hover {
  border: 9px solid #ffffff;
}

.form-filter-btn {
  display: block;
  margin-left: 85px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.form-filter-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.container-hotels {

}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 31px;
  margin-right: 47px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 892px;
}

.sorting-type {
  width: 528px;
}

.sorting-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.arrow path {
  fill: #cacaca;
}

.arrow:active path,
.arrow.active path {
  fill: #81b3d2;
}

.arrow:not(.active):hover path {
  fill: #231f20;
}

.toggle-down {
  margin-left: 12px;
}

.sorting-title {
  margin-right: 36px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-item {
  margin-right: 30px;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item:last-of-type {
  margin-right: 0;
}

.sorting-item.active {
  color: #81b3d2;
  border: none;
}

.sorting-item:hover {
  color: #81b3d2
}

.sorting-item:active {
  color: #000000;
  border: none;
}

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1056px;
  margin: 0 auto;
}

.hotels-item {
  padding-top: 25px;
}

.hotels-item:nth-child(1) {
  padding-top: 0;
}

.hotels-item:nth-child(1)::before {
  content: "";
  display: block;
  margin: 0;
  margin-bottom: 25px;
  height: 1px;
  width: 1200px;
  background-color: #e5e5e5;
}

.hotels-item::after {
  content: "";
  display: block;
  margin: 0;
  margin-top: 25px;
  height: 1px;
  width: 1200px;
  background-color: #e5e5e5;
}

.hotels-img {
  width: 135px;
  height: 90px;
  margin: 0;
  margin-right: 31px;
}

.hotels-img a {
  display: block;
  width: 135px;
  height: 90px;
}

.hotels-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 280px;
  margin-bottom: 5px;
}

.hotels-title {
  margin: 0;
  margin-bottom: 8px;
}

.hotels-title a {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
}

.hotels-description,
.hotels-reserve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.hotels-description span,
.hotels-reserve span {
  margin-bottom: 3px;
}

.hotels-description {
  max-width: 112px;
  margin-right: 5px;
  overflow: hidden;
}

.hotels-reserve {
  max-width: 146px;
  overflow: hidden;
}

.hotels-btn {
  display: block;
  padding: 3px 17px;
  font-weight: 700;
  margin-top: 10px;
}

.info-btn {
  background-color: #81b3d2;
}

.reserv-btn {
  background-color: #766357;
}

.hotels-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 95px;
  width: 120px;
  margin: 0;
  margin-left: auto;
}

.star::before {
  content: "";
  width: 17px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-position: right;
}

.star-one::before {
  width: 89px;
}

.star-two::before {
  width: 65px;
}

.star-three::before {
  width: 42px;
}

.hotels-score .rating {
  display: block;
  width: 110px;
  padding: 3px 0;
  margin-top: 40%;
  margin-bottom: 3px;
  text-align: center;
  background-color: #f2f2f2;
}
